@charset "utf-8";
/* CSS Document */
html {
  font-family: sans-serif, Arial, Segoe, Verdana; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
	font-weight: lighter;
}

/**
 * Remove default margin.
 */

body {
  	margin: 0;
	background-color: #fdfefe;
}


#clcNeko{
	height: 40px;
}
.Startext {
	font-size: 40px;
	line-height: 60px;
	color: #FFB600;
}

td {
	align-content: center;
}

.content {
	position:absolute;
	top: 50%;
	height: 700px;
	margin-top: -350px;
	left:50%;
	width: 800px;
	margin-left: -400px;
}

.output {
	border-bottom: dotted #FFB600 thick;
	border-top: dotted #FFB600 thick;
}

.btn {
	background-color: #FFF4C6;
	border: solid #FFB600 thick;
	color: #FFB600;
	font-weight: bold;
	height: 70px;
	line-height: 30px;
	width: 160px;
	font-size: 30px;
	border-radius: 35px;
}

.btn:hover{
	color:#840002;
	background-color: #FF7678;
	border: solid #FFB600 thick;
}
.btn:focus{
	border: solid #FFB600 thick;
}